<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewEmpty1</servlet-name>
        <servlet-class>NewEmpty1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImage</servlet-name>
        <servlet-class>UploadImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImage1</servlet-name>
        <servlet-class>Code.UploadImage1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>dec2</servlet-name>
        <servlet-class>dec2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>decrypt</servlet-name>
        <servlet-class>decrypt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>decrypt12</servlet-name>
        <servlet-class>decrypt12</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImage12</servlet-name>
        <servlet-class>UploadImage12</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Decryptiiiii</servlet-name>
        <servlet-class>Decryptiiiii</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImage123</servlet-name>
        <servlet-class>UploadImage123</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>De</servlet-name>
        <servlet-class>De</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewEmpty1</servlet-name>
        <url-pattern>/NewEmpty1</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>jespath</param-name>
        <param-value>C:/Program Files/Apache Software Foundation/Tomcat 8.0.9.0/webapps/Phising/build/web/jes-1.6.1/</param-value>
    </context-param>
    <welcome-file-list>
        <welcome-file>mainframe.html</welcome-file>
        <welcome-file/>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>UploadImage</servlet-name>
        <url-pattern>/UploadImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImage1</servlet-name>
        <url-pattern>/UploadImage1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>mainframe.html</welcome-file>
        <welcome-file/>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>dec2</servlet-name>
        <url-pattern>/dec2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>decrypt</servlet-name>
        <url-pattern>/decrypt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>decrypt12</servlet-name>
        <url-pattern>/decrypt12</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImage12</servlet-name>
        <url-pattern>/UploadImage12</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Decryptiiiii</servlet-name>
        <url-pattern>/Decryptiiiii</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImage123</servlet-name>
        <url-pattern>/UploadImage123</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>De</servlet-name>
        <url-pattern>/De</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
